.about {
    background: linear-gradient(to right, hsl(196, 64, 67), hsl(202, 83, 41));
    color: var(--color-grey-light-1);
    font-size: var(--font-medium);
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: var(--line-height-medium);
    width: 100vw;
    padding-top: 12%;
    padding-bottom: 12%;

    &__container {
        justify-content: center;
        flex-direction: column;
        width: 33.3333%;
    }
}