.about {
    background: linear-gradient(to right, hsl(196, 64, 67), hsl(202, 83, 41));
    color: var(--color-grey-light-1);
    font-size: var(--font-medium);
    line-height: var(--line-height-medium);
    display: flex;
    justify-content: center;
    padding: var(--padding-large);

    &__container {
        width: 100rem;
        margin: 16rem auto;

        @include respond(phone) {
            margin: 1rem auto;
        }

        &--image {
            height: 41rem;
            width: 41rem;
            border-radius: 50%;
            float: left;
            shape-outside: circle();
            margin: 3rem;
            border: 2px solid white;
            filter: saturate(1.2);

            @include respond(phone) {
                height: 20rem;
                width: 20rem;
                margin-left: 0;
            }
        }

        &--text {
            display: inline;
        }
    }
}