.header {
    background-image: linear-gradient(hsla(209, 6, 17, 0.7), hsla(209, 6, 10, 0.6)), url(../img/nathalie-hurova-lEzMTXWjnFo-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--color-grey-light-1);
    display: grid;
    grid-template-rows: min-content 1fr;
    grid-template-columns: 100vw;

    &__nav {
        display: flex;
        justify-content: space-between;
        font-size: var(--font-medium);
        padding: var(--padding-large);

        &--brand {

            &-icon {
                background-color: var(--color-blue);
                border-radius: 50%;
                padding: 7px;
                cursor: pointer;
                transition: all .2s;

                &:hover {
                    background-color: var(--color-pink);
                }
            }
        }

        &--mobile-icon {
            display: none;

            @include respond(phone) {
                display: block;
            }

            svg {
                fill: var(--color-grey-light-1);
            }
        }

        &--list {
            display: flex;
            display: -webkit-box;
            justify-content: end;

            @include respond(phone) {
                display: none;
            }
        }

        &--item {
            width: 12rem;

            &:nth-of-type(3n+1):hover {
                cursor: pointer;

                a {
                    color: var(--color-pink);
                    border-bottom: 2px solid var(--color-pink);
                }
            }

            &:nth-of-type(3n+2):hover {
                cursor: pointer;

                a {
                    color: var(--color-blue);
                    border-bottom: 2px solid var(--color-blue);
                }
            }

            &:nth-of-type(3n+3):hover {
                cursor: pointer;

                a {
                    color: var(--color-green);
                    border-bottom: 2px solid var(--color-green);
                }
            }
        }
    }

    &__hero {
        padding-left: 18%;
        padding-top: 12%;
        padding-right: 18%;

        @include respond(phone) {
            padding-left: 4%;
            padding-right: 4%;
        }

        &--title {
            font-size: var(--font-largest);
            font-weight: 300;
            padding-bottom: var(--padding-medium);

            @include respond(phone) {
                margin-bottom: var(--margin-medium);
            }
        }

        &--subtitle {
            font-size: var(--font-large);
            font-weight: 300;
            padding-bottom: var(--padding-medium);

            @include respond(tab-port) {
                padding-bottom: var(--padding-large);
            }
        }

        &--text {
            font-size: var(--font-medium);
            line-height: var(--line-height-medium);
        }
    }
}