.skills {
    display: flex;
    background-color: var(--color-grey-light-1);
    flex-wrap: wrap;
    padding: 10%;
    justify-content: center;

    &__left {
        display: flex;
        align-items: center;
        justify-content: end;
        flex: 1 1 350px;

        &--text {
            color: var(--color-grey-dark-3);
            font-size: var(--font-large);
            font-weight: 300;
            line-height: var(--line-height-large);
            padding: 10%;
        }
    }

    &__right {
        display: flex;
        align-items: center;
        flex: 1 1 400px;
    }


    &__grid {
        display: flex;
        flex-wrap: wrap;

        &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--padding-medium);
            transition: all .1s;
            min-height: 15rem;
            min-width: 15rem;
            flex-grow: 1;

            &:hover {
                padding: var(--padding-medium);

                .skills__grid--logo {
                    max-height: 15rem;
                    max-width: 15rem;
                }
            }
        }

        &--logo {
            max-height: 10rem;
            max-width: 10rem;
            transition: all .3s;
        }
    }
}