.skills {
    display: flex;
    flex-direction: row;
    background-color: var(--color-grey-light-1);
    padding: 5% 10%;
    justify-content: space-evenly;

    @include respond(tab-land) {
        flex-direction: column;
    }



    &__left {
        display: flex;
        align-items: center;
        justify-content: end;
        margin: 5%;



        &--text {
            color: var(--color-grey-dark-3);
            font-size: var(--font-large);
            font-weight: 300;
            line-height: var(--line-height-large);
        }
    }

    &__right {
        display: flex;
        align-items: center;
        margin: 5%;
    }


    &__grid {
        display: flex;
        flex-wrap: wrap;

        &--item {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: var(--padding-medium);
            margin: var(--margin-small);
            font-size: var(--font-large);
            border-radius: 5px;
            color: var(--color-grey-dark-2);

            &:nth-of-type(3n+1) {
                background-color: var(--color-pink-transparent);
            }

            &:nth-of-type(3n+2) {
                background-color: var(--color-blue-transparent);
            }

            &:nth-of-type(3n+3) {
                background-color: var(--color-green-transparent);
            }
        }

        &--logo {
            max-height: var(--font-large);
            max-width: var(--font-large);
            margin-right: 1rem;
        }
    }
}