.work {
    background-color: var(--color-grey-dark-2);
    color: var(--color-grey-light-1);
    box-shadow: inset 0 5px 20px var(--color-grey-dark-3);
    z-index: 50;
    padding: 0 var(--spacing-largest);

    @include respond(tab-port) {
        padding: var(--spacing-large);
    }

    @include respond (phone) {
        padding: var(--spacing-small);
    }
}

.project {
    display: grid;
    grid-template-columns:  50% 50%;
    margin: 0;
    padding: var(--spacing-largest) 0;
    border-bottom: 1px solid var(--color-grey-dark-4);

    @include respond(tab-land) {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "txt"
            "img";
    }

    &:last-of-type {
        border-bottom: none;
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: var(--spacing-largest);

        @include respond(tab-port) {
            padding: var(--spacing-larger);
        }

        &--text {
            @include respond(tab-land) {
                grid-area: txt;
            }
        }

        &--image {
            @include respond(tab-land) {
                grid-area: img;
            }
        }
    }

    &__title {
        font-size: var(--font-large);
        margin-bottom: var(--spacing-small);
    }

    &__subtitle {
        font-size: var(--font-medium);
        margin-bottom: var(--spacing-large);
    }

    &__text {
        font-size: var(--font-small);
        margin-bottom: var(--spacing-medium);
        line-height: var(--line-height-small);
    }

    &__image-grid {
        display: grid;
        grid-template-rows: auto 1fr;
    }

    &__large-image {
        max-width: 100%;
        max-height: 40rem;
        border-radius: 2px;
        cursor: pointer;
        justify-self: center;
    }

    &__thumbnails {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__thumbnail {
        position: relative;
        height: 8rem;
        width: 8rem;
        overflow: hidden;
        cursor: pointer;
        margin: var(--spacing-small);
        border-radius: 5px;

        @include respond (phone) {
            max-height: 8rem;
        }

        &-image {
            position: absolute;
            left: 50%;
            top: 50%;
            height: 100%;
            width: auto;
            transform: translate(-50%, -50%);
        }
    }

    &__links {
        font-size: var(--font-small);
        font-weight: 700;
        margin-top: var(--spacing-large);

        a {
            border-radius: 5px;
            padding: 10px 25px;
            background-color: var(--color-grey-dark-1);
            border: 0;
            cursor: pointer;
        }
    }
}